<h1>¿Qué otros templating engines existen para node?</h1>
<li>
    <ul>Nunjucks</ul>
    <ul>Dust.js: Creado por LinkedIn, Dust.js es un motor de plantillas asíncrono que se centra en el rendimiento y la escalabilidad.</ul>
    <ul>React: Aunque React es una biblioteca de JavaScript para construir interfaces de usuario, muchas personas lo utilizan también para renderizar HTML en el servidor, funcionando como un motor de plantillas.</ul>
</li>