<!DOCTYPE html>
<html lang="ejs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <%- include('./../css.ejs') %>
</head>
<body>
    <div class="pregunta1">
        <h2>¿Qué beneficios encuentras en el estilo MVC?</h2>
        <p>
            Me parece una forma ordenada y esquematica de poder trabajar, y los beneficios que encuentro es
            basicamente poder facilitar el mantenimiento del codigo o el trabajo en equipo estableciendo un estandar
        </p>
    </div>
    <div class="pregunta2">
        <h2>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h2>
        <p>
            Creo que hasta cierto punto existe algo de confuncion en cuanto al cambio de carpetas y la fragmentacion
            de codigos en pedacitos que estan en archivos
        </p>
    </div>  
</body>
</html>